# ---------------------------

# Python

# ---------------------------

**pycache**/
*.py[cod]
*$py.class

# ---------------------------

# Virtual environments

# ---------------------------

venv/
.venv/
.venv-1/
.venv-2/

# ---------------------------

# Environment variables

# ---------------------------

.env
.env.*

# ---------------------------

# Database

# ---------------------------

*.db
*.sqlite
*.sqlite3

# ---------------------------

# Logs

# ---------------------------

*.log

# ---------------------------

# Cache / temp

# ---------------------------

.cache/
.pytest_cache/

# ---------------------------

# VS Code

# ---------------------------

.vscode/

# ---------------------------

# OS files

# ---------------------------

.DS_Store
Thumbs.db

# ---------------------------

# Build / distribution

# ---------------------------

build/
dist/
*.egg-info/

# ---------------------------

# Alembic cache

# ---------------------------

migrations/**pycache**/

# ---------------------------

# Docker

# ---------------------------

docker-compose.override.yml
